//Breakpoints
$bp-desktop: 62.5em;
$bp-2k: 125em;

//Colors
//$accent: #2baab0;
$index-background: #343434c7;
$text-gray: gray;
$text-gray-light: #919191;
$project-background: #1f1f1f;

//Sizes
$sbp-content-width: 80rem;